<h4 class="text-center">Filter User</h4>
<br>
<div class="w-75 m-auto bg-dark row">
    <input
        class="py-1 col-8"
        type="text"
        placeholder="search by name or email"
        name="search"
        id=""
        [(ngModel)]="searchText"
      >
    <a class="btn btn-outline-primary col-4" role="button"  routerLink="/createuser">new User</a>
</div>
<br>
<div class="w-75 m-auto">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Names</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Inscription</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usersdata | filter:searchText ; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>
